h1 {
    text-shadow: 2px 4px 5px green;
}



p {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    
}

#div1 {
    width: 1000px;
    height: 600px;
    text-align: center;
}